{% extends 'Basic/Base.html' %}
{% load static %}

{% block contenido %}
<div class="fondo">
    <img src="{% static 'img/Diseño_sin_titulo.png' %}" class="img-fluid" alt="Inicio" style="width: 100%;">
    <br><br>
    <div class="container">
        <h1 style="margin-left: 100px; color: white;">Integrantes :</h1>
        <h4 style="color: white; margin-left: 120px;">Esteban Badilla</h4>
        <h4 style="color: white; margin-left: 120px">Alan Ramirez</h4>
        <h4 style="color: white; margin-left: 120px">Franco Gallardo</h4>
        <h4 style="color: white; margin-left: 120px">Juan Marquez</h4>
    </div>
    <br>
</div>
{% endblock %}